@charset "UTF-8";
button {
  border: none;
  padding: 1em;
  background-color: #387699;
  color: white;
  font-weight: 300;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
  background-color: #0f1e27;
}
button:disabled, button[disabled] {
  background-color: gray;
}

a.button {
  display: inline-block;
  color: white;
  background-color: #387699;
  font-weight: 300;
  padding: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-decoration: none;
  border-radius: 4px;
}
a.button:hover {
  color: white;
  cursor: pointer;
  background-color: #0f1e27;
}
a.button.disabled {
  background-color: gray;
}
a.button.disabled:hover {
  cursor: default;
}

a {
  color: gray;
}

button.qt-button, .link-button {
  border: 1px solid #b7b7b7;
  background-color: white;
  color: gray;
}

.link-button {
  padding: 1em;
  text-decoration: none;
}

input {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid lightgray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fotorama--fullscreen {
  background: white !important;
}
.fotorama--fullscreen .fotorama__stage {
  background: white !important;
}
.fotorama--fullscreen .fotorama__nav {
  background: white !important;
}

.fotorama__thumb-border {
  border-color: #b7b7b7 !important;
}

.basicLightbox {
  background: rgba(255, 255, 255, 0.8) !important;
}

.icon {
  height: 20px;
  width: 20px;
  fill: #1e2a2f;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  padding-left: 0;
  margin-right: 54px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 1em;
}
.breadcrumbs li a {
  text-decoration: none;
}
.breadcrumbs li a:after {
  display: inline-block;
  content: "›";
  padding-left: 1em;
}
@media only screen and (max-width: 700px) {
  .breadcrumbs {
    margin-top: 0;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: auto;
  color: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  font-weight: 300;
  line-height: 180%;
}
@media only screen and (max-width: 700px) {
  body {
    height: unset;
  }
}

.container {
  flex: 1 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}
@media only screen and (min-width: 1300px) {
  .container {
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media only screen and (min-width: 1700px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

header {
  width: 100%;
  max-width: 1500px;
  position: relative;
  min-height: 109px;
}
header .header {
  position: fixed;
  width: inherit;
  max-width: inherit;
  min-height: 109px;
  display: flex;
  z-index: 3;
  background-color: white;
}
header .header .mobile {
  display: none;
}
header .header .logo {
  padding-left: 10px;
}
@media only screen and (min-width: 1300px) {
  header .header .logo {
    padding-left: 3em;
  }
}
@media only screen and (min-width: 1700px) {
  header .header .logo {
    padding-left: 0;
  }
}
header .header .logo img {
  width: unset;
  height: unset;
  max-width: 300px;
}
header .header .links {
  display: flex;
  margin-left: auto;
}
header .header .links a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
header .header a {
  text-decoration: none;
}
header .header form {
  margin: auto;
}
header .header form .search {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  background-color: #eff4fa;
}
header .header form .search button {
  background-color: unset;
  padding: unset;
}
header .header form .search button .icon {
  padding-left: 1em;
  padding-right: 1em;
}
header .header form .search input {
  background-color: #eff4fa;
  border: none;
  border-radius: 0;
  font-size: 18px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 100%;
}
header .header .shopping-cart {
  padding: 36px;
  justify-self: right;
  color: #a0a0a0;
  padding-right: 10px;
}
@media only screen and (min-width: 1300px) {
  header .header .shopping-cart {
    padding-right: 3em;
  }
}
@media only screen and (min-width: 1700px) {
  header .header .shopping-cart {
    padding-right: 0;
  }
}
header .header .shopping-cart img {
  width: 30px;
}
header .header .cart-size-counter {
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  position: absolute;
  margin-left: -19px;
  margin-top: 4px;
  color: #a0a0a0;
  z-index: 2;
}
header .header .cart-size-counter :hover {
  color: #a0a0a0;
}
header .header .header-hamburger {
  padding: 36px;
  align-self: center;
  justify-self: left;
  width: 30px;
  cursor: pointer;
  padding-left: 10px;
}
@media only screen and (min-width: 1300px) {
  header .header .header-hamburger {
    padding-left: 3em;
  }
}
@media only screen and (min-width: 1700px) {
  header .header .header-hamburger {
    padding-left: 0;
  }
}
header .header > * {
  grid-column-start: 1;
  align-self: center;
  grid-row-start: 1;
}
header .hamburger-menu {
  position: fixed;
  display: none;
  background-color: white;
  opacity: 0.9;
  z-index: 3;
  height: 100%;
  font-size: 14px;
  min-width: 300px;
}
header .hamburger-menu .menu-container {
  display: flex;
  flex-direction: column;
}
header .hamburger-menu .menu-container .close-menu {
  width: 20px;
  padding: 36px;
  cursor: pointer;
}
header .hamburger-menu .menu-container .links-container {
  align-self: center;
  width: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
header .hamburger-menu .menu-container .links-container a {
  margin-top: 10px;
  margin-bottom: 10px;
}
header .hamburger-menu a {
  text-decoration: none;
  color: gray;
}
header .hamburger-menu a:hover {
  color: black;
}
@media only screen and (max-width: 1300px) {
  header {
    min-height: 80px;
  }
  header .header {
    min-height: 80px;
  }
  header .header .logo img {
    max-width: 150px;
  }
  header .header .shopping-cart {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 23px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    min-height: 60px;
  }
  header .header {
    min-height: 60px;
    display: grid;
  }
  header .header .mobile {
    display: block;
  }
  header .header .not-mobile {
    display: none;
  }
  header .header .header-hamburger {
    justify-self: left;
    width: 20px;
    padding: 23px;
    padding-left: 10px;
  }
  header .header .logo {
    justify-self: center;
  }
  header .header form {
    grid-column-start: unset;
    align-self: unset;
    grid-row-start: unset;
    margin: 0;
    display: none;
  }
  header .header form .search {
    margin: 0;
  }
  header .header .header-right {
    justify-self: right;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  header .header .header-right .shopping-cart {
    padding: 0;
    margin-left: 20px;
    height: 25px;
  }
  header .header .header-right .shopping-cart img {
    width: 25px;
  }
  header .header .header-right .shopping-cart .cart-size-counter {
    margin-left: -16px;
    margin-top: 0;
    font-size: 12px;
  }
  header .hamburger-menu {
    min-width: unset;
    width: 100%;
  }
  header .hamburger-menu .links-container {
    margin-top: 0;
  }
}
@media only screen and (max-width: 400px) {
  header .header .logo img {
    max-width: 150px;
  }
}
@media only screen and (max-width: 350px) {
  header .header .logo img {
    max-width: 120px;
  }
}

footer {
  border-top: 1px solid lightgray;
  margin-top: 2em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-transform: uppercase;
  color: gray;
  margin-right: 10px;
  margin-left: 10px;
}
footer a {
  text-decoration: none;
  align-self: center;
  color: gray;
}
footer a:hover {
  color: black;
  text-decoration: none;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1200px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  footer .footer-container {
    width: 310px;
  }
}
footer .footer-container > * {
  max-width: 30%;
  min-height: 170px;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .footer-container .filler {
  flex-grow: 1;
}
footer .footer-container .links-container {
  display: flex;
  flex-direction: column;
}
footer .footer-container .links-container a {
  align-self: flex-start;
}
footer .footer-container .site-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .footer-container .logo-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
footer .footer-container .logo-container > a {
  align-self: flex-end;
}
footer .footer-container .logo-container .logo img {
  width: 60px;
  height: unset;
  opacity: 0.6;
}
footer .footer-container .logo-container .some-links {
  align-self: flex-end;
}
footer .footer-container .logo-container .some-links a {
  display: inline-block;
  font-size: 20px;
  margin-left: 1em;
  color: #b7b7b7;
}
footer .footer-container .logo-container .some-links a:hover {
  color: gray;
}
footer .footer-container img {
  width: 40px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media only screen and (max-width: 700px) {
  footer .footer-container img {
    width: 20px;
  }
}
footer .footer-container .footer-text table.no-border {
  border: none;
}
footer .footer-container .footer-text table.no-border tbody {
  border: none;
}
footer .footer-container .footer-text table.no-border tbody tr {
  border: none;
}
footer .footer-container .footer-text table.no-border tbody tr td {
  border: none;
}
footer .margin {
  background: transparent;
  height: 80px;
}
@media only screen and (max-width: 700px) {
  footer {
    margin-left: 3em;
    margin-right: 3em;
  }
  footer .footer-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  footer .footer-container > * {
    max-width: 100%;
    min-height: unset;
    margin: 0;
    margin-bottom: 2em;
  }
  footer .footer-container .logo-container {
    margin-top: 2em;
    flex-direction: row;
    width: 100%;
    align-content: center;
  }
  footer .margin {
    height: 40px;
  }
}
@media only screen and (min-width: 1700px) {
  footer {
    margin-left: 0;
    margin-right: 0;
  }
}

.image-and-text-module {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.image-and-text-module img {
  width: 100%;
  height: unset;
}
.image-and-text-module .text {
  max-width: 1200px;
  margin: 15px;
}
.image-and-text-module .text .header {
  margin-top: 0;
}
.image-and-text-module .text .button {
  margin-top: 1em;
}

.image-and-text-module.bottom {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 1000px) {
  .image-and-text-module.right {
    flex-direction: row-reverse;
  }
  .image-and-text-module.right .image {
    margin-left: 2em;
    width: 50%;
  }

  .image-and-text-module.left {
    flex-direction: row;
  }
  .image-and-text-module.left .image {
    margin-right: 2em;
    width: 50%;
  }

  .image-and-text-module.right .text, .image-and-text-module.left .text {
    width: 50%;
    margin: unset;
  }

  .image-and-text-module .text {
    margin: auto;
  }
}
.module {
  margin-bottom: 2em;
}
@media only screen and (min-width: 700px) {
  .module {
    margin-bottom: 4em;
  }
}

.products-module {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 100%;
}
.products-module h2 {
  align-self: center;
  font-size: 21px;
  margin-bottom: 3em;
  margin-top: 0;
}
.products-module .products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.products-module .products .product {
  width: calc(25% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.products-module .products .product a {
  text-decoration: none;
}
.products-module .products .product img {
  width: 100%;
  height: unset;
}
.products-module .products .product .name {
  font-size: 14px;
  margin-top: 1em;
  height: 36px;
  font-weight: 400;
  overflow: hidden;
}
.products-module .products .product .description {
  text-transform: none;
  font-size: 14px;
  line-height: 150%;
}
.products-module .products .product .price {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  .products-module h2 {
    font-size: 14px;
    margin-bottom: 1em;
  }
  .products-module .products {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 12px;
  }
  .products-module .products .product {
    width: calc(33.33% - 10px);
    margin-right: 5px;
    margin-left: 5px;
  }
  .products-module .products .product .name {
    font-size: 10px;
    margin-bottom: 0;
  }
  .products-module .products .product .description {
    display: none;
  }
  .products-module .products .product .price {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .products-module .products .product .price h3 {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
}

.search-page-container .search-container .result-container {
  min-height: 700px;
}
.search-page-container .search-container .result-container .result {
  text-decoration: none;
}
.search-page-container .search-container .result-container .result h4 {
  margin-bottom: 0;
}
.search-page-container .search-container .result-counter {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}
.search-page-container .search-container .result-counter .number {
  margin-left: 1em;
  margin-right: 1em;
}
@media only screen and (max-width: 1000px) {
  .search-page-container .search-container .result-container {
    min-height: unset;
  }
}

.article {
  display: flex;
}
.article .text {
  max-width: 1200px;
}
.article .text > h1 {
  font-size: 30px;
}
.article .ingress {
  font-style: italic;
}
.article img {
  width: 100%;
  height: 100%;
  margin-left: 2em;
}
@media only screen and (max-width: 1000px) {
  .article {
    flex-direction: column-reverse;
  }
  .article img {
    margin-left: 0;
  }
}

.checkout-page .order-container {
  display: flex;
  justify-content: space-around;
}
.checkout-page .order-container .form-container .info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 700px;
}
.checkout-page .order-container .form-container .info-container button {
  max-width: 450px;
}
.checkout-page .order-container .form-container .info-container .input-container {
  margin-bottom: 1em;
  margin-right: 1em;
  max-width: 300px;
}
.checkout-page .order-container .form-container .info-container .input-container input {
  width: 100%;
}
.checkout-page .order-container .form-container .info-container .input-container label {
  display: inline-block;
  min-width: 150px;
}
.checkout-page .order-container .form-container .info-container .input-container.comment {
  display: flex;
  flex-wrap: wrap;
}
.checkout-page .order-container .form-container .info-container .input-container.comment textarea {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
.checkout-page .order-container .form-container .shipping-container .shipping {
  display: flex;
  align-items: center;
}
.checkout-page .order-container .form-container .shipping-container .shipping .price {
  margin-left: auto;
  font-weight: 400;
}
.checkout-page .order-container .form-container .payment-container h4, .checkout-page .order-container .form-container .shipping-container h4 {
  margin-bottom: 0.5em;
}
.checkout-page .order-container .form-container button[type=submit] {
  margin-top: 2em;
}
.checkout-page .order-container .error {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: lightcoral;
  color: white;
  border: 1px solid red;
  padding: 1em;
}
.checkout-page .order-container .checkout-order {
  margin-left: 2em;
  font-size: 14px;
  min-width: 300px;
}
.checkout-page .order-container .checkout-order .order-items {
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-page .order-container .checkout-order .order-items .order-item {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.checkout-page .order-container .checkout-order .order-items .order-item img {
  max-width: 100px;
  width: 100%;
  height: 100%;
}
.checkout-page .order-container .checkout-order .order-items .order-item .description {
  margin-left: 2em;
}
.checkout-page .order-container .checkout-order .order-items .order-item .description .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.checkout-page .order-container .checkout-order .order-items .order-item .description .info .qt .qt-number {
  margin-right: 1em;
  margin-left: 1em;
  max-width: 100px;
  width: 100%;
}
.checkout-page .order-container .checkout-order .order-items .order-item .description .info > * {
  margin-left: 2em;
}
.checkout-page .order-container .checkout-order .order-items .order-item .description .custome-options {
  margin-bottom: 1em;
}
@media only screen and (max-width: 1000px) {
  .checkout-page .order-container .checkout-order .order-items .order-item {
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
  }
  .checkout-page .order-container .checkout-order .order-items .order-item .description {
    margin-left: 1em;
    width: 100%;
  }
  .checkout-page .order-container .checkout-order .order-items .order-item .description h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .checkout-page .order-container .checkout-order .order-items .order-item .description .info {
    display: flex;
    align-items: unset;
  }
  .checkout-page .order-container .checkout-order .order-items .order-item .description .info > * {
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
.checkout-page .order-container .checkout-order .checkout {
  display: flex;
  margin-top: 2em;
}
.checkout-page .order-container .checkout-order .checkout .link-button {
  margin-left: 2em;
}
.checkout-page .order-container .checkout-order .checkout .total-cart-price {
  align-self: center;
  margin-left: auto;
}
.checkout-page .order-container .checkout-order .checkout .delivery {
  align-self: center;
}
@media only screen and (max-width: 1000px) {
  .checkout-page .order-container .checkout-order .checkout {
    flex-direction: column;
  }
  .checkout-page .order-container .checkout-order .checkout .link-button {
    margin-left: 0;
  }
  .checkout-page .order-container .checkout-order .checkout .total-cart-price {
    margin-left: 0;
    padding-bottom: 1em;
    align-self: flex-start;
  }
  .checkout-page .order-container .checkout-order .checkout .delivery {
    padding-bottom: 1em;
    align-self: flex-start;
  }
}
@media only screen and (max-width: 700px) {
  .checkout-page .order-container {
    flex-direction: column-reverse;
  }
  .checkout-page .order-container .checkout-order {
    margin-left: 0;
    margin-bottom: 2em;
    border-bottom: 2px solid lightgray;
    min-width: unset;
  }
}

.product-page {
  display: flex;
  flex-direction: column;
}
.product-page .product {
  display: flex;
}
.product-page .product .info-container {
  width: 50%;
  margin-left: 2em;
}
.product-page .product .info-container .price {
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
  font-size: 21px;
  font-weight: 400;
}
.product-page .product .info-container .add-to-cart {
  display: flex;
  flex-direction: column;
}
.product-page .product .info-container .add-to-cart .qt-container {
  display: flex;
}
.product-page .product .info-container .add-to-cart .qt-container .qt-button {
  width: 20%;
}
.product-page .product .info-container .add-to-cart .qt-container input {
  width: 100%;
  min-width: 46px;
  margin-left: 1em;
  margin-right: 1em;
  color: gray;
  border: 1px solid #b7b7b7;
}
.product-page .product .info-container .add-to-cart .add-to-cart-button, .product-page .product .info-container .add-to-cart .add-to-cart-button-custome {
  margin-top: 1em;
}
.product-page .product .info-container .producer {
  margin-top: 1em;
}
.product-page .product .info-container .producer span {
  font-weight: 400;
}
.product-page .product .info-container .category {
  margin-top: 1em;
}
.product-page .product .info-container .category .option-category {
  display: flex;
  margin-top: 0.3em;
}
.product-page .product .info-container .category .option-category .selected-option {
  min-width: 150px;
  margin-right: 1em;
}
.product-page .product .info-container .category .option-category .selected-option .option-price.hidden {
  display: none;
}
.product-page .product .info-container .category .option-category .options {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.product-page .product .info-container .category .option-category .options .option {
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
}
.product-page .product .info-container .category .option-category .options .option.selected {
  border: 2px solid gray;
  padding: 0;
}
.product-page .product .info-container .category .option-category .options .option img {
  width: 100%;
}
.product-page .product .info-container .category-name, .product-page .product .info-container .option-name, .product-page .product .info-container .option-price .value {
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  .product-page .product {
    flex-direction: column;
  }
  .product-page .product .info-container {
    margin-left: 0;
    width: 100%;
  }
}
.product-page .projects-container {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid lightgray;
}
.product-page .projects-container h3 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.product-page .projects-container .projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
.product-page .projects-container .projects > a {
  width: calc(25% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.product-page .projects-container .projects .project img {
  width: 100%;
  height: unset;
}
.product-page .projects-container .projects .project .name {
  margin-top: 1em;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .product-page .projects-container .projects {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 14px;
  }
  .product-page .projects-container .projects > a {
    width: calc(33.33% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}

.product-category-page .text {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3em;
}
.product-category-page .product-category-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.product-category-page .product-category-container .category {
  width: calc(33.33% - 30px);
  margin-bottom: 61px;
  margin-right: 15px;
  margin-left: 15px;
}
.product-category-page .product-category-container .category .name {
  text-align: center;
  margin-bottom: 1em;
}
.product-category-page .product-category-container .product {
  width: calc(25% - 30px);
  margin-bottom: 61px;
  margin-right: 15px;
  margin-left: 15px;
}
.product-category-page .product-category-container .product .name {
  height: 64px;
  margin-bottom: 0;
}
.product-category-page .product-category-container .product .description {
  font-size: 14px;
  line-height: 150%;
  height: 54px;
}
.product-category-page .product-category-container .product .price {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.product-category-page .product-category-container .product .price a.button {
  height: max-content;
}
@media only screen and (max-width: 700px) {
  .product-category-page .product-category-container {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 14px;
  }
  .product-category-page .product-category-container .product, .product-category-page .product-category-container .category {
    width: calc(33.33% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .product-category-page .product-category-container .product .name {
    overflow: hidden;
  }
  .product-category-page .product-category-container .product .description {
    display: none;
  }
  .product-category-page .product-category-container .product .price {
    flex-direction: column;
  }
  .product-category-page .product-category-container .product .price h3 {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
  }
}
.product-category-page .product-category-container .category a,
.product-category-page .product-category-container .product a {
  text-decoration: none;
}
.product-category-page .product-category-container .category img,
.product-category-page .product-category-container .product img {
  width: 100%;
  height: unset;
}
.product-category-page .product-category-container .category .name,
.product-category-page .product-category-container .product .name {
  margin-top: 1em;
}

.project-page .modal-container {
  display: none;
}
.project-page .project-header {
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.project-page .project-header img {
  margin-left: 3em;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .project-page .project-header {
    flex-direction: column-reverse;
  }
  .project-page .project-header img {
    margin-left: 0;
  }
}
.project-page .project-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.project-page .project-images .project-image {
  width: calc(25% - 30px);
  margin-bottom: 61px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .project-page .project-images .project-image {
    width: calc(33.33% - 30px);
  }
}
.project-page .project-images .project-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.project-page .project-images .project-image .show-project-products {
  width: 40px;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: none;
}
.project-page .project-images .project-image .show-project-products.click {
  display: block;
}
.project-page .project-images .project-image .show-project-products:hover {
  opacity: 1;
}
@media only screen and (max-width: 1000px) {
  .project-page .project-images .project-image .show-project-products {
    display: block !important;
    font-size: 30px;
    margin: 15px;
  }
  .project-page .project-images .project-image .show-project-products.click {
    display: none !important;
  }
}
@media only screen and (max-width: 1000px) and (max-width: 600px) {
  .project-page .project-images .project-image .show-project-products {
    font-size: 20px;
    margin: 10px;
  }
}
.project-page .project-images .project-image .products-container {
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.project-page .project-images .project-image .products-container i {
  position: absolute;
  color: white;
  padding: 1em;
}
.project-page .project-images .project-image .products-container .products {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}
.project-page .project-images .project-image .products-container .products .product a {
  text-decoration: none;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.project-page .project-images .project-image .products-container .products .product a img {
  height: 70px;
  width: 70px;
}
.project-page .project-images .project-image .products-container .products .product a .name {
  color: white;
  margin-left: 10px;
  align-self: center;
}
@media only screen and (max-width: 700px) {
  .project-page .project-images {
    margin-left: -5px;
    margin-right: -5px;
  }
  .project-page .project-images .project-image {
    width: calc(33.33% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}

/* MODAL */
.project-image-modal {
  max-height: 81vh;
  max-width: 80vw;
}
.project-image-modal .next-lightbox, .project-image-modal .prev-lightbox, .project-image-modal .close-lightbox {
  font-size: 30px;
  position: absolute;
  cursor: pointer;
}
.project-image-modal .next-lightbox:hover, .project-image-modal .prev-lightbox:hover, .project-image-modal .close-lightbox:hover {
  color: black;
}
.project-image-modal .close-lightbox {
  right: 10px;
  top: 10px;
}
.project-image-modal .next-lightbox {
  right: 10px;
  top: 50%;
}
.project-image-modal .prev-lightbox {
  left: 10px;
  top: 50%;
}
.project-image-modal > img {
  max-height: 60vh;
  object-fit: contain;
  width: 100%;
}
.project-image-modal > img.no-products {
  max-height: 81vh;
}
.project-image-modal .products {
  margin-top: 1vh;
  max-height: 20vh;
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.project-image-modal .products .product {
  margin: 2vh;
  display: block;
}
.project-image-modal .products .product img {
  display: block;
  width: 16vh;
  height: 16vh;
}

.projects-page .description {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3em;
}
.projects-page .projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-left: -15px;
  margin-right: -15px;
}
.projects-page .projects .project {
  width: calc(33.33% - 30px);
  margin-bottom: 61px;
  margin-right: 15px;
  margin-left: 15px;
}
.projects-page .projects .project img {
  width: 100%;
  height: unset;
}
.projects-page .projects .project .name {
  text-align: center;
  margin-top: 1em;
}
@media only screen and (max-width: 700px) {
  .projects-page .projects {
    margin-left: -5px;
    margin-right: -5px;
  }
  .projects-page .projects .project {
    width: calc(33.33% - 10px);
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.order {
  margin-top: 50px;
}
.order .order-items {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order .order-items .order-item {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.order .order-items .order-item img {
  max-width: 200px;
  width: 100%;
  height: 100%;
}
.order .order-items .order-item .description {
  margin-left: 2em;
  width: 30%;
}
.order .order-items .order-item .description h4 {
  margin-bottom: 0.3em;
}
.order .order-items .order-item .description h4 a {
  text-decoration: none;
}
.order .order-items .order-item .description .short-description {
  font-size: 16px;
  line-height: 130%;
}
.order .order-items .order-item .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 225px;
}
.order .order-items .order-item .info .qt .qt-number {
  margin-right: 1em;
  margin-left: 1em;
  max-width: 100px;
  width: 100%;
}
.order .order-items .order-item .info > * {
  margin-left: 1em;
}
.order .checkout {
  display: flex;
  margin-top: 2em;
}
.order .checkout .link-button {
  margin-left: 2em;
}
.order .checkout .total-cart-price {
  align-self: center;
  margin-left: auto;
}
.order .checkout .delivery {
  align-self: center;
}
@media only screen and (max-width: 1000px) {
  .order {
    margin-top: 0;
  }
  .order .order-items .order-item {
    align-items: start;
  }
}
@media only screen and (max-width: 1000px) and (max-width: 700px) {
  .order .order-items .order-item {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1000px) {
  .order .order-items .order-item .description {
    margin-left: 0;
    margin-bottom: 1em;
    width: unset;
  }
}
@media only screen and (max-width: 1000px) {
  .order .order-items .order-item .info {
    display: flex;
    align-items: unset;
    flex-direction: column;
  }
  .order .order-items .order-item .info > * {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 1000px) {
  .order .checkout {
    flex-direction: column;
  }
  .order .checkout .link-button {
    margin-left: 0;
  }
  .order .checkout .total-cart-price {
    margin-left: 0;
    padding-bottom: 1em;
    align-self: flex-start;
  }
  .order .checkout .delivery {
    padding-bottom: 1em;
    align-self: flex-start;
  }
}
