.article {
    display: flex;

    .text {
        max-width: 1200px;

        > h1 {
            font-size: 30px;
        }
    }

    .ingress {
        font-style: italic;
    }

    img {
        width: 100%;
        height: 100%;
        margin-left: 2em;
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;

        img {
            margin-left: 0;
        }
    }
}
