.search-page-container {
    .search-container {
        .result-container {
            min-height: 700px;

            .result {
                text-decoration: none;

                h4 {
                    margin-bottom: 0;
                }
            }
        }

        .result-counter {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            align-items: center;

            .number {
                margin-left: 1em;
                margin-right: 1em;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .search-container {
            .result-container {
                min-height: unset;
            }
        }
    }
}
